IBM node-red flow LoRaWAN to mindconnect.txt
[{"id":"fc55e193faabd722","type":"function","z":"a5d5f7f53768684f","name":"","func":"var newmsg = msg.payload;\nconst values =[{\n        \"dataPointId\":\"DP-Temperatura_nevera\",\n    \n        \"qualityCode\":\"0\",\n        \"value\":`${newmsg}`\n       // \"value\":\"25\"\n},\n]\nmsg.time=new Date();\nmsg.payload=values;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":200,"wires":[["b52886e52bc45d23"]]},{"id":"945c00c00af95013","type":"debug","z":"a5d5f7f53768684f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":200,"wires":[]},{"id":"b52886e52bc45d23","type":"mindconnect","z":"a5d5f7f53768684f","name":"","configtype":"SHARED_SECRET","agentconfig":"{\n  \"content\": {\n    \"baseUrl\": \"https://southgate.eu1.mindsphere.io\",\n    \"iat\": \"eyJraWQiOiJrZXktaWQtMSIsInR5cCI6IkpXVCIsImFsZyI6IlJTMjU2In0.eyJpc3MiOiJTQ0kiLCJzdWIiOiI2YzcwMGMxZWZmMDk0NGQ5OGEwOGFmOTMxM2NiY2EzZiIsImF1ZCI6IkFJQU0iLCJpYXQiOjE2NDA4NDcyOTEsIm5iZiI6MTY0MDg0NzI5MSwiZXhwIjoxNjQxNDUyMDkxLCJqdGkiOiJjY2MwOWU3NS04NmUyLTRiZWUtYTQ0YS02ZjQyN2NmZTdmYzUiLCJzY29wZSI6IklBVCIsInRlbiI6Imlpb3RmYnF2IiwidGVuX2N0eCI6Im1haW4tdGVuYW50IiwiY2xpZW50X2NyZWRlbnRpYWxzX3Byb2ZpbGUiOlsiU0hBUkVEX1NFQ1JFVCJdLCJzY2hlbWFzIjpbInVybjpzaWVtZW5zOm1pbmRzcGhlcmU6djEiXX0.Cn4M-r0Ct0oe1yBvJnppZgEtFUCOWetD8KBp1lfUOwItBO2L-6iP4-SCAdgbcrXYg5fTa9SnYR9EtLmEJ6444cl9EobElyZSxr39-Az_RdyUaO2ygjSFITbcSSlV_sEaxYVRLL1uXBbAgjMKx06V-2Nmx_ZqHr6eb-8HWIQVUsVVi5dbxFrSOeTqqEqPstWRQ6kaamejZYfwchB09nZzL7NJm3rtufUR_Su3Y60SsF3Ym0tHWASz1Mf93U-5JjhO3xE4WyvAheDsyjq3QbLms3iwI9_7j393D11xf2leTqLbg00Nek1_xJQcGZYgCQBecNV29D6AzUt7mJf25juFDg\",\n    \"clientCredentialProfile\": [\n      \"SHARED_SECRET\"\n    ],\n    \"clientId\": \"6c700c1eff0944d98a08af9313cbca3f\",\n    \"tenant\": \"iiotfbqv\"\n  },\n  \"expiration\": \"2022-01-06T06:54:51.000Z\"\n}","privatekey":"","model":"","validate":true,"validateevent":true,"chunk":false,"disablekeepalive":false,"emitcontrol":false,"datalakeonly":false,"supressverbosity":false,"retry":3,"parallel":1,"asyncduration":10,"x":510,"y":200,"wires":[["945c00c00af95013"]]},{"id":"08b0ddd8858b2f6e","type":"inject","z":"a5d5f7f53768684f","name":"Test 6.5","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6.5","payloadType":"num","x":90,"y":200,"wires":[["fc55e193faabd722"]]},{"id":"337d18c.94ad4e8","type":"mqtt in","z":"a5d5f7f53768684f","name":"","topic":"v3/farmacia-anna-florensa@ttn/devices/magatzem1/up","qos":"2","datatype":"auto","broker":"35e106b8.ebea2a","nl":false,"rap":true,"rh":0,"x":280,"y":60,"wires":[["508c988f.d5cd38","a2ffadec.9283b"]]},{"id":"508c988f.d5cd38","type":"debug","z":"a5d5f7f53768684f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":60,"wires":[]},{"id":"0ebbe4648a0644b3","type":"debug","z":"a5d5f7f53768684f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":100,"wires":[]},{"id":"a2ffadec.9283b","type":"json","z":"a5d5f7f53768684f","name":"","property":"payload","action":"","pretty":false,"x":210,"y":120,"wires":[["bef523ba.6163a"]]},{"id":"bef523ba.6163a","type":"function","z":"a5d5f7f53768684f","name":"Temp magatzem1","func":"var a = msg.payload;\nmsg.payload=a.uplink_message.decoded_payload.temperature;\nmsg.topic=a.uplink_message.decoded_payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":120,"wires":[["aaa01082.b6901"]]},{"id":"aaa01082.b6901","type":"function","z":"a5d5f7f53768684f","name":"fora º i %","func":"const s = msg.payload;\nconst h = msg.topic;\nconst withoutLastChunk = s.slice(0, s.lastIndexOf(\"°\"));\nconst hwithoutLastChunk = h.slice(0, h.lastIndexOf(\"%\"));\nmsg.payload=withoutLastChunk*1.00\nmsg.topic=hwithoutLastChunk*1.00\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":120,"wires":[["0ebbe4648a0644b3","fc55e193faabd722"]]},{"id":"35e106b8.ebea2a","type":"mqtt-broker","z":"a5d5f7f53768684f","name":"","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]